@inherits LayoutComponentBase


<div class="layout-container">

    <div class="layout-overlay">

        <header class="topbar">

            <div class="brand-section">

               
                <img src="images/l3.jpg"
                     alt="Logo"
                     class="brand-logo" />

                <div class="brand-text">

                    <h1 class="brand-title">
                        Zapatería Suela
                    </h1>

                    <p class="brand-subtitle">
                        Sistema de Gestión
                    </p>

                </div>

            </div>

            <nav class="nav-menu">

                <NavLink href="/"
                         Match="NavLinkMatch.All">
                    Inicio
                </NavLink>

                <NavLink href="/clientes">
                    Clientes
                </NavLink>

                <NavLink href="/ventas">
                    Ventas
                </NavLink>

                <NavLink href="/catalogo">
                    Catálogo
                </NavLink>
 <NavLink href="/trabajadores">
                    Trabajadores
                </NavLink>
                <NavLink href="/buscar">
                    Buscar
                </NavLink>
            </nav>

        </header>

        <main class="main-content">
            @Body
        </main>

    </div>

</div>